<div>
<h3 [appHover]="'3px solid yellow'">{{title}}</h3>
   
    <div >
        <table>
            <tr>
                <th>Index</th>
                <th>Even/Odd</th>
                <th>Room Number</th>
                <th>Room Type</th>
                <th>Rating</th>
                <th>Room Price</th>
                <th>Amenities</th>
                <th>CheckIN Date</th>
                <th>Select</th>
            </tr>
            <tr *ngFor="
            let room of rooms;
            let e=even;
            let o=odd;
            let i=index;
            "
          
            [ngClass]="e ? 'Even' : 'Odd'"
            [ngStyle]="{color: e ? 'black' : 'yellow'}"
            >
                <td>{{i}}</td>
                <td>{{e ? 'Even' : 'Odd'}}</td>
                <td>{{room.roomNumber}}</td>
                <td>{{room.type}}</td>
                <td>{{room.rating | number : '1.1-1'}}</td>
                <td>{{room.price | currency : 'INR'}}</td>
                <td>{{room.amenities | titlecase}}</td>
                <td>{{room.checkInTime | date : 'dd/MM/yyyy'}}</td>
                <td><button [routerLink]="['/rooms',room.id]">Book Room</button></td>
                <!-- <button (click)="selectRoom(room)">Select</button> -->
            </tr>
        </table>
    </div>
</div>