<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div>
  <div [ngSwitch]="role">
    <div *ngSwitchCase="'User'">Welcome User</div>
    <div *ngSwitchCase="'Admin'">
      <div>
        <ng-template #user></ng-template>
        <!-- ng-template itself helps rendering other templates -->
      </div>
    </div>
    <div *ngSwitchDefault>You are not Authorized</div>
  </div>

  <button (click)="changeRole()">Click Me to change Role</button>

  <h1>Below Content rendered according to their defined order placed in ngContainer</h1>

  <app-container>
    <app-rooms></app-rooms>
    <app-employee></app-employee>
    <h2>ng Content</h2>
  </app-container>





</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>