/* You can add global styles to this file, and also import other style files */
body{
    background-color: black;
    color: white;
}
.Even{
    background-color: red;
}
.Odd{
    background-color: blue
}